body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(50, 66, 92);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  width: 100%;
  min-height: 320px;
  background-color: rgb(244, 247, 249);
}

/*стилизация флекса под первую строчку*/

.global-first-line {
  width: 100%;
  background-color: rgb(41, 52, 73);
}

.first-line-container {
  display: flex;
  width: 960px;
  height: 42px;
  flex-direction: row;
  background-color: rgb(41, 52, 73);
  margin-bottom: 47px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/*Логотип*/

.logo-background-box-top {
  width: 110px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 55px;
  padding-right: 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(238, 54, 67);
  margin-left: 10px;
}

.logo-background-box-bottom {
  display: block;
  width: 220px;
  height: 48px;
  text-align: center;
  padding-top: 20px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(238, 54, 67);
}

.logo-background-box-top:hover, .logo-background-box-bottom:hover {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(202, 44, 55);
}

.logo-background-box:active, .logo-background-box-bottom:active {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(186, 39, 50);
}

/*стилизация самого верхнего меню*/

.top-menu-navigation {
  display: flex;
  flex-wrap: wrap;
  line-height: 18px;
  min-height: 42px;
  width: 100%;
  justify-content: center;
}

.top-menu-navigation li {
  display: block;
  padding: 0;
  margin: 0;
}

.top-menu {
  background-color: rgb(41, 52, 73);
  color: rgb(255, 255, 255);
  margin-right: 10px;
  width: 720px;
}

.top-menu-bookmark {
  position: relative;
}

.top-menu-bookmark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 16px;
  background: url(../img/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
}

.top-menu-navigation .top-menu-bookmark:hover::before, .top-menu-cart:hover::before {
  opacity: 1;
}

.top-menu-navigation .top-menu-bookmark:active::before, .top-menu-cart:active::before {
  opacity: 0.5;
}

.top-menu-cart {
  position: relative;
}

.catalog-cart {
  background-color: rgb(238, 54, 67)
}

.top-menu-cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 16px;
  background: url(../img/icon-cart.svg) no-repeat;
  opacity: 0.3;
}

/*стилизация поля поиска, блоков меню и поиска*/

.search-field {
  position: relative;
  display: block;
  vertical-align: middle;
  height: 42px;
  padding: 0;
  width: 270px;
}

.search-field input {
  height: 42px;
  width: 222px;
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: 48px;
}

.search-field label {
  position: relative;
}

.search-field label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 16px;
  background: url(../img/icon-search.svg) no-repeat;
}

input#search:focus~label::before {
  background: url(../img/icon-search-red.svg) no-repeat;
}

.search-field:hover .icon-search {
  opacity: 0.5;
}

.search-field p {
  display: block;
  margin: 0;
  padding: 0;
}

.top-menu-navigation a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  text-align: right;
  vertical-align: middle;
  width: 120px;
}

.top-menu-navigation input {
  background-color: rgb(41, 52, 73);
  border: 0;
}

.top-menu-navigation label {
  font-size: 0;
}

.top-menu-navigation input::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.top-menu-navigation input:focus {
  background-color: rgb(255, 255, 255);
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/*Конец стилизации*/

/*стилизация третьей строки хедера*/

.menu .site-navigation {
  display: flex;
  flex-direction: row;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  background-color: rgb(50, 66, 92);
  color: rgb(255, 255, 255);
  justify-content: center;
  box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);
}

.site-navigation a {
  display: block;
  padding: 17px 30px 19px;
  vertical-align: middle;
}

.main-page {
  display: block;
  padding: 17px 30px 19px;
  vertical-align: middle;
}

.top-menu-navigation, .menu, .registration, .site-navigation, .offer-items, .popular-list, .services-list, .offer-list, .deliver-partners, .social-button-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-menu-navigation a, .registration a, .site-navigation a, .offer-items a, .popular a, .popular-manufacturers a, .offer-list a, .company-link a, .footer-bottom a {
  color: rgb(255, 255, 255);
}

.top-menu-navigation a:hover, .menu a:hover {
  background-color: rgb(33, 42, 58);
}

.top-menu-navigation a:active, .menu a:active {
  background-color: rgb(22, 29, 41);
}

/*Зеленая кнопка Оофрмить заказ*/

.top-menu-navigation .top-menu-make-order {
  background-color: rgb(99, 166, 62);
  padding-left: 20px;
  padding-right: 20px;
  width: 110px;
}

.top-menu-navigation .top-menu-make-order:hover {
  background-color: rgb(95, 187, 45);
}

.top-menu-navigation .top-menu-make-order:active {
  background-color: rgb(81, 133, 52);
}

/*cтилизация второй строки хедера*/

.mid-top {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  min-height: 112px;
  margin-bottom: 0;
  justify-content: space-between;
  width: 940px;
}

.mid-top-box-1 {
  width: 300px;
}

.mid-top-box-2 {
  width: 300px;
}

/*Заголовок*/

.techmomart-description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: rgb(238, 54, 67);
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.phone-number {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 8px;
  padding-left: 70px;
  color: rgb(233, 41, 42);
  border: 3px solid rgb(255, 255, 255);
  width: 270px;
  height: 42px;
  box-sizing: border-box;
  margin-bottom: 6px;
  position: relative;
}

.icon-phone {
  position: absolute;
  top: 8px;
  left: 12px;
}

.top-address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: rgb(50, 66, 92);
  width: 264px;
  margin: 0;
  padding: 0;
}

/*ссылки логина и регистрации*/

.registration {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex-wrap: wrap;
  height: 45px;
  width: 300px;
}

.registration a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.registration a:hover {
  font-family: "Cuprum", Arial, sans-serif;
  ;
  font-size: 21px;
  font-weight: 400;
  color: rgb(238, 54, 67);
}

.registration a:active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.registration-link {
  display: block;
  width: 150px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.login-link {
  padding-top: 11px;
  display: block;
  width: 97px;
  height: 33px;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-left: 24px;
}

/*стилизация основного контейнера*/

/*выгодные предложения*/

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.offers {
  display: flex;
  margin-bottom: 53px;
}

.offer-items {
  display: flex;
  width: 940px;
  height: 410px;
  flex-direction: row;
  justify-content: space-between;
}

.offer-card {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 19px 23px;
  box-sizing: border-box;
}

.offer-card p {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}

.offer-card a {
  display: block;
  width: 135px;
  height: 38px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgb(0, 0, 0, 0.1);
  margin-top: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.first-column {
  width: 620px;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.second-column {
  width: 300px;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
}

.offers .engineering {
  margin-right: 0px;
}

.engineering a::after {
  position: absolute;
  content: "";
  top: -34px;
  right: -118px;
  width: 85px;
  height: 70px;
  background: url("../img/icon-3-tractor.svg") no-repeat;
}

.materials {
  background: rgb(255, 191, 71);
  margin-right: 20px;
}

.materials a::after {
  position: absolute;
  content: "";
  top: -34px;
  right: -140px;
  width: 85px;
  height: 70px;
  background: url("../img/icon-1-bucket.svg") no-repeat;
}

.materials a::before {
  position: absolute;
  content: "";
  top: -64px;
  right: -142px;
  width: 60px;
  height: 60px;
  background: url("../img/new-flag.png") no-repeat;
}

.tools {
  background: rgb(59, 188, 227);
}

.tools a::after {
  position: absolute;
  content: "";
  top: -32px;
  right: -125px;
  width: 85px;
  height: 70px;
  background: url("../img/icon-2-drill.svg") no-repeat;
}

.engineering {
  background: rgb(220, 145, 216);
}

.offer-items .discounts {
  background: rgb(142, 215, 143);
  margin-right: 0;
}

.discounts a::after {
  position: absolute;
  content: "";
  top: -39px;
  right: -125px;
  width: 85px;
  height: 73px;
  background: url("../img/icon-4-bigcart.svg") no-repeat;
}

.offer-items .free-delivery {
  background: rgb(255, 192, 71);
  margin-right: 0;
}

.free-delivery a::after {
  position: absolute;
  content: "";
  top: -33px;
  right: -118px;
  width: 85px;
  height: 73px;
  background: url("../img/icon-5-car.svg") no-repeat;
}

.offer-items img {
  max-width: 620px;
  height: 267px;
}

.slider {
  width: 620px;
  height: 267px;
}

/*карта*/

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
  z-index: 30;
  display: none;
}

.modal-close {
  position: absolute;
  font-size: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px transparent;
  background: transparent;
}

/*иконка логина*/

.icon-login {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 15px;
}

.login-link:hover .icon-login path {
  fill: rgb(50, 66, 92);
}

/*Нижняя часть сайта с инфо по компании*/

/*нижний флекс-контейнер*/

.bottom-flex-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 86px;
}

.company-info {
  flex-basis: 525px;
  min-height: 366px;
}

.contacts {
  flex-basis: 300px;
  min-height: 366px;
}

.company-info h2, .contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0)
}

.company-info p, .contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0)
}

.company-info ul {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0)
}

.company-link {
  width: 220px;
  height: 38px;
  background-color: rgb(238, 54, 67);
}

.company-link:hover {
  background-color: rgb(202, 44, 55);
}

.company-link:active {
  background-color: rgb(186, 39, 50);
}

.company-link a {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.write-letter:hover {
  background-color: rgb(202, 44, 55);
}

.write-letter:active {
  background-color: rgb(186, 39, 50);
}

.write-letter {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 38px;
  background-color: rgb(238, 54, 67);
}

/*футер*/

.footer-flex-container-1 {
  display: flex;
  justify-content: space-between;
  min-height: 67px;
  margin-bottom: 22px;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-flex-container-2 {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-top {
  background-color: rgb(50, 66, 92);
}

.footer-bottom {
  background-color: rgb(41, 52, 73)
}

.bottom-address {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(243, 247, 249);
  width: 327px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 50px;
}

.bottom-menu {
  width: 710px;
}

.bottom-menu .site-navigation {
  display: flex;
  justify-content: flex-end;
  width: 710px;
}

.bottom-menu a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(243, 247, 249);
  padding-top: 39px;
  padding-bottom: 0px;
}

.bottom-menu a:hover {
  text-decoration: underline;
}

.bottom-menu a:active {
  color: rgba(241, 245, 247, 0.5);
}

.site-navigation .contacts-padding-zero {
  padding-right: 0;
}

.offer-list {
  display: flex;
  justify-content: flex-end;
}

.offer-list a {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 209, 128);
  padding: 0 30px;
}

.offer-list li:last-child a {
  padding: 0 0;
}

.offer-list a:hover {
  text-decoration: underline;
}

.offer-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.footer-bottom a {
  color: rgb(255, 209, 128);
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: rgb(238, 54, 67);
  text-decoration: none;
}

.social-button-list {
  display: flex;
  justify-content: center;
}

.social-button-list a {
  background-color: rgb(33, 42, 58);
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-button img {
  display: block;
}

.social-button-list a:hover {
  background-color: rgb(238, 54, 67);
}

.social-button-list a:active {
  background-color: rgb(238, 54, 67);
}

/*стилизация самой нижней части футера*/

.footer-bottom-flex-container {
  display: flex;
  min-height: 72px;
  padding-top: 35px;
  justify-content: space-between;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  display: block;
  margin: 0;
}

.feedback {
  display: flex;
}

.feedback p {
  display: block;
  padding: 0;
  margin: 0;
}

.feedback p:first-child {
  width: 135px;
}

.feedback p:last-child {
  width: 96px;
  margin-left: 50px;
}

/*стилизация формы*/

.modal {
  position: fixed;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.modal-form {
  top: 108px;
  left: 50%;
  margin-left: -320px;
  display: none;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 425px;
  border-top: 7px solid rgb(238, 54, 67);
  position: relative;
}

.letter-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background: rgb(255, 255, 255);
  height: 314px;
}

.yourname {
  display: block;
  height: 70px;
  width: 220px;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 42px;
  margin-right: 20px;
}

.email {
  display: block;
  height: 70px;
  width: 220px;
  margin-right: 80px;
  margin-bottom: 10px;
  margin-top: 42px;
}

.yourname input {
  width: 202px;
  height: 34px;
  border: 2px solid rgb(222, 227, 228);
  padding-left: 14px;
  margin-top: 12px;
}

.email input {
  width: 202px;
  height: 34px;
  border: 2px solid rgb(222, 227, 228);
  padding-left: 14px;
  margin-top: 12px;
}

.letter-content {
  display: block;
  height: 150px;
  width: 460px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 37px;
}

.letter-content textarea {
  width: 444px;
  border: 2px solid rgb(222, 227, 228);
  height: 110px;
  padding-left: 12px;
  padding-top: 12px;
  margin-top: 12px;
}

.letter-form input::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(169, 169, 169)
}

.form-button {
  display: block;
  height: 111px;
  background-color: rgb(244, 244, 244);
  width: 100%;
}

.letter-button {
  width: 460px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
  margin-left: 80px;
  margin-top: 37px;
  border: 1px transparent;
  border-radius: 2px;
  box-shadow: none;
}

.letter-button:hover {
  background: rgb(202, 44, 55);
}

.letter-button:active {
  background: rgb(186, 39, 50);
}

.form-close {
  font-size: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px transparent;
  background: rgb(255, 255, 255);
}

/*стилизация иконки пользователя и логаута*/

.icon-user {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 15px;
}

.icon-logout {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 21px;
}

.username:hover .icon-user path {
  fill: rgb(50, 66, 92);
}

.icon-logout:hover path {
  fill: rgb(50, 66, 92);
}

.icon-logout:window-inactive path {
  fill: rgb(197, 197, 197);
}

.username:active .icon-user path {
  fill: rgb(197, 197, 197);
}

.username {
  position: relative;
  width: 299px;
  height: 33px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  padding-top: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.username a:hover {
  color: rgb(0, 0, 0);
}

.username a:active {
  color: rgba(0, 0, 0, 0.3);
}

.myorders a {
  margin-left: 17px
}

.account-page a {
  position: relative;
  margin-right: 70px;
  margin-left: 32px;
}

.account-page a::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(50, 66, 92);
  top: 7px;
  left: -17px;
}

.myorders a, .account-page a {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);
  text-decoration: underline;
  margin-top: 6px;
}

.myorders a:hover, .account-page a:hover {
  color: rgb(238, 54, 67);
  font-size: 16px;
}

.myorders a:active, .account-page a:active {
  color: rgb(241, 245, 247);
  font-size: 16px;
}

/*Хлебные крошки*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 19px;
  margin-bottom: 19px;
}

.breadcrumbs li:not(:first-child) {
  position: relative;
  margin-left: 39px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 2px;
  left: -23px;
  background: url("../img/icon-right-small.svg") no-repeat;
}

/*первый вариант стилизации-бекап
.breadcrumbs .visually-hidden {
  font-size: 0;
  display: block;
  width: 16px;
  height: 12px;
  z-index: 1;
}

.breadcrumbs li:first-child::before {
  content: "";

  position: absolute;

  width: 16px;
  height: 12px;

  top: 2px;
  left: 0px;
  background: url("../img/icon-home.svg") no-repeat;
  z-index: 0;
}
*/

/*второй вариант стилизации*/

.icone-home-container {
  display: block;
  width: 15px;
  height: 15px;
}

.icon-home {
  background: url("../img/icon-home.svg") no-repeat;
  width: 15px;
  height: 15px;
}

.breadcrumbs, .breadcrumbs a {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.product-box {
  background-color: rgb(242, 246, 248);
  height: 89px;
  margin-bottom: 20px;
}

.product-box .page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  color: rgb(50, 66, 92);
  font-weight: 400;
  text-transform: uppercase;
}

/*окошко добавления товара в корзину*/

.product-addcard {
  display: flex;
  width: 620px;
  height: 275px;
  flex-direction: column;
  border-top: 7px solid rgb(238, 54, 67);
  flex-wrap: nowrap;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -137px;
  z-index: 30;
  display: none;
}

.form-close {
  font-size: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px transparent;
  background: rgb(255, 255, 255);
}

.card-text {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 400;
  width: 620px;
  height: 163px;
  background: rgb(255, 255, 255);
}

.card-text-check-box {
  position: absolute;
  top: 48px;
  left: 80px;
}

.card-text span {
  display: block;
  margin-top: 62px;
  margin-right: 125px;
  margin-left: 175px;
}

.card-buttons {
  background: rgb(241, 241, 241);
  width: 620px;
  height: 112px;
  margin: 0;
  padding: 0;
}

.make-order-btn {
  width: 220px;
  height: 38px;
  background-color: rgb(238, 54, 67);
  margin-left: 80px;
  margin-top: 35px;
  margin-right: 20px;
}

.make-order-btn a {
  color: rgb(255, 255, 255);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.close-btn {
  width: 220px;
  height: 38px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Cuprum", Arial, sans-serif;
  ;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

/*стилизация формы фильтров*/

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;
  width: 19px;
  height: 19px;
  border: 2px solid rgb(197, 197, 197);
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 21px;
  top: -1px;
  left: -38px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(197, 197, 197);
  left: -42px;
  top: -1px;
  border-radius: 50%;
}

.filter-input:disabled+label {
  color: rgba(0, 0, 0, 0.4)
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(197, 197, 197);
  top: 5px;
  left: -36px;
  border-radius: 50%;
}

/*карточки товаров*/

.catalog-items {
  width: 700px;
  margin: 19px auto;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy, .catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: rgb(255, 255, 255);
}

.filters {
  width: 220px;
}

.filters .visually-hidden {
  font-size: 0;
}

/*флекс-контейнер для каталога*/

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*блок наименования раздела популярные товары*/

.section-title {
  display: flex;
  width: 940px;
  height: 89px;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 27px;
  box-sizing: border-box;
  background-color: rgb(245, 245, 240);
  margin-bottom: 19px;
}

.section-title h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
}

.section-title a {
  display: block;
  width: 253px;
  height: 38px;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(238, 54, 67);
  margin-top: 24px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-items-index {
  width: 940px;
  height: 318px;
}

.catalog-items-index .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.catalog-items-index .catalog-item:nth-child(4n) {
  margin-right: 0px;
}

/*популярные производители*/

.pop-ms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
}

.pop-ms-item {
  display: flex;
  width: 220px;
  height: 145px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  margin-bottom: 20px;
}

.pop-ms-item img {
  width: auto;
  height: auto;
  margin: auto auto;
}

.pop-ms-item:hover {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.pop-ms-item:active img {
  opacity: 0.3;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/*анимация*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/*слайдер*/

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 33px;
  z-index: 100;
  width: 50px;
  height: 10px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  margin-right: 5px;
}

.slider-controls label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}


.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 22px;
  width: 620px;
  height: 266px;
  box-sizing: border-box;
  position: relative;
}
.slider-item::before
{
  position: absolute;
  content: "";
  top: 113px;
  right: 20px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-right.svg") no-repeat;
}
.slider-item::after
{
  position: absolute;
  content: "";
  top: 113px;
  left: 20px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.svg") no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url("../img/neighboursjoy.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  
}

.slider-item:nth-child(1) {
  background-image: url("../img/manstoys.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  display: block;
  }

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before, #product-2:checked~.slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: 0;
  background-color: rgb(238, 54, 67);
  border-radius: 50%;
}

.slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0;
}

.slider-item p {
  margin: 0;
  margin-bottom: 120px;
  color: rgb(255, 255, 255);
}

.button {
  display: block;
  width: 195px;
  height: 38px;
  padding: 13px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}

.button:hover, .button:focus {
  background-color: rgb(202, 44, 55);
}

.button:active {
  background-color: rgb(186, 39, 50);
}